# MacOS directory info
.DS_Store
._*

# swapfiles
*~
*.swp

# old versions
*.old

# compiled Python files
*.py[co]

# SQLite databases and SQL files
*.sqlite
*.sql

# The real database info
db.cfg

# Minified JS files
*.min.js
