<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/media/css/default.css" media="all"/>
        {% block extracss %}{% endblock %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        {% block extrajs %}{% endblock %}
    </head>

    <body>
        <div id="container">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
