{% extends "base.html"%}
{% block title %}Subject Summary{% endblock %}
{% block content%}
                <ul>
                    <li>Total Subjects: {{summary.full_count}}</li>
                    <li>Male: {{summary.male}}</li>
                    <li>Female: {{summary.female}}</li>
                    <li>American Indian / Alaska Native: {{summary.amerind}}</li>
                    <li>African American / Black: {{summary.afram}}</li>
                    <li>Pacific Islander / Native Hawaiian: {{summary.pacif}}</li>
                    <li>Asian: {{summary.asian}}</li>
                    <li>White: {{summary.white}}</li>
                    <li>Unknown race: {{summary.unknown}}</li>
                    <li>Hispanic or Latino: {{summary.hisp}}</li>
                    <li>Not Hispanic or Latino: {{summary.nonhisp}}</li>
                </ul>
{% endblock %}
