{% extends "base.html" %}
{% block title %}Subject List{% endblock %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="/media/css/entry.css"/>
    <link rel="stylesheet" type="text/css" href="/tabletheme/style.css"/>
{% endblock %}
{% block extrajs %}
        <script type="text/javascript" src="/media/js/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="/media/js/subject_list.js"></script>
{% endblock %}
{% block content %}
                <p>{{count}} records</p>
                <a href="/add">Add another subject</a>
                <table id="subjects" class="tablesorter">
                    <thead>
                        <tr>
                            <th>Entry date</th>
                            <th>Last name</th>
                            <th>First name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Ethnicity</th>
                            <th>American Indian</th>
                            <th>Black / African American</th>
                            <th>Hawaiian / Pacific Islander</th>
                            <th>Asian</th>
                            <th>White</th>
                            <th>Unknown</th>
                            <th>Other Race</th>
                            <th>UR Student</th>
                            <th>Grad Year</th>
                            <th>Normal Hearing</th>
                            <th>Hearing Problems</th>
                            <th>Vision Normal</th>
                            <th>Vision Other</th>
                            <th>More Experiments?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in subjects %}
                        <tr>
                            <td>{{s.entrydate}}</td>
                            <td>{{s.lastname}}</td>
                            <td>{{s.firstname}}</td>
                            <td>
                                {% for p in s.phone %}
                                {{p.number}}{% if not loop.last %},{% endif %}
                                {% endfor%}
                            </td>
                            <td>
                                {% for e in s.email %}
                                {{e.address}}{% if not loop.last %},{% endif %}
                                {% endfor%}
                            </td>
                            <td>{{s.age}}</td>
                            <td>{{s.sex}}</td>
                            <td>{{s.ethnicity}}</td>
                            <td>{% if s.amerind %}X{% endif %}</td>
                            <td>{% if s.afram %}X{% endif %}</td>
                            <td>{% if s.pacif %}X{% endif %}</td>
                            <td>{% if s.asian %}X{% endif %}</td>
                            <td>{% if s.white %}X{% endif %}</td>
                            <td>{% if s.unknown %}X{% endif %}</td>
                            <td>{% if s.other_race is none %}{% else %}{{s.other_race}}{% endif %}</td>
                            <td>{% if s.ur_student %}X{% endif %}</td>
                            <td>{% if s.gradyear is none %}{% else %}{{s.gradyear}}{% endif %}</td>
                            <td>{% if s.hearing_normal %}X{% endif %}</td>
                            <td>{% if s.hearing_problems is none %}{% else %}{{s.hearing_problems}}{% endif %}</td>
                            <td>{% if s.vision_normal %}X{% endif %}</td>
                            <td>{% if s.vision_other is none%}{% else %}{{s.vision_other}}{% endif %}</td>
                            <td>{% if s.more_expts %}X{% endif %}</td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
{% endblock %}
