<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

    <head>
        <title>Subject Summary</title>
        <meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8"/>
        <meta http-equiv="content-language" content="en"/>
        <meta name="copyright" content="2010 HLP Lab - BCS Dept - University of Rochester"/>
        <style type="text/css" media="all">
            @import "/media/css/default.css";
        </style>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    </head>

    <body>
        <div id="container">
            <div id="content">
                <ul>
                    <li>Total Subjects: {{summary.full_count}}</li>
                    <li>Male: {{summary.male}}</li>
                    <li>Female: {{summary.female}}</li>
                    <li>American Indian / Alaska Native: {{summary.amerind}}</li>
                    <li>African American / Black: {{summary.afram}}</li>
                    <li>Pacific Islander / Native Hawaiian: {{summary.pacif}}</li>
                    <li>Asian: {{summary.asian}}</li>
                    <li>White: {{summary.white}}</li>
                    <li>Unknown race: {{summary.unknown}}</li>
                    <li>Hispanic or Latino: {{summary.hisp}}</li>
                    <li>Not Hispanic or Latino: {{summary.nonhisp}}</li>
                </ul>
            </div>
        </div>
    </body>
</html>
