{% extends "base.html" %}
{% block title %}Subject List{% endblock %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="/media/css/entry.css"/>
    <link rel="stylesheet" type="text/css" href="/tabletheme/style.css"/>
{% endblock %}
{% block extrajs %}
        <script type="text/javascript" src="/media/js/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="/media/js/subject_list.js"></script>
{% endblock %}
{% block content %}
                <table id="subjects" class="tablesorter">
                    <thead>
                        <tr>
                            <th>Entry date</th>
                            <th>Last name</th>
                            <th>First name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Ethnicity</th>
                            <th>American Indian</th>
                            <th>Black/African American</th>
                            <th>Hawaiian/Pacific Islander</th>
                            <th>Asian</th>
                            <th>White</th>
                            <th>Unknown</th>
                            <th>Other Race</th>
                            <th>UR Student</th>
                            <th>Grad Year</th>
                            <th>Normal Hearing</th>
                            <th>Hearing Problems</th>
                            <th>Vision Normal</th>
                            <th>Vision Other</th>
                            <th>More Experiments?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in subjects %}
                        <tr>
                            <td>{{s.entrydate}}</td>
                            <td>{{s.lastname}}</td>
                            <td>{{s.firstname}}</td>
                            <td>
                                {% for p in s.phone %}
                                {{p.number}}{% if not loop.last %},{% endif %}
                                {% endfor%}
                            </td>
                            <td>
                                {% for e in s.email %}
                                {{e.address}}{% if not loop.last %},{% endif %}
                                {% endfor%}
                            </td>
                            <td>{{s.age}}</td>
                            <td>{{s.sex}}</td>
                            <td>{{s.ethnicity}}</td>
                            <td>{{s.amerind}}</td>
                            <td>{{s.afram}}</td>
                            <td>{{s.pacif}}</td>
                            <td>{{s.asian}}</td>
                            <td>{{s.white}}</td>
                            <td>{{s.unknown}}</td>
                            <td>{{s.other_race}}</td>
                            <td>{{s.ur_student}}</td>
                            <td>{{s.gradyear}}</td>
                            <td>{{s.hearing_normal}}</td>
                            <td>{{s.hearing_problems}}</td>
                            <td>{{s.vision_normal}}</td>
                            <td>{{s.vision_other}}</td>
                            <td>{{s.more_expts}}</td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
                <a href="/add">Add another subject</a>
{% endblock %}
